# Virtual Environment
venv/

# IPython Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Punkt/Corpora
punkt/
corpora/
punkt/corpora/

# Flask
instance/*
!instance/.gitignore
.webassets-cache

# Flask.Python Stack
# byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class